body{
    background-color: aquamarine;
    font-family: arial;
}

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    font-size: 19px;
    margin-top: 5px;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid black;   
}
button{
    width: 60px;
    height: 41px;
    background-color: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
    cursor: pointer;
}
.text ul{
    position: relative;
    background-color:pink;
    color: white;
    padding: 7px;
    font-size: 19px;
   
}